@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.btn-delete {
    border: 1px solid rgb(180, 6, 23);
    border-radius: 12px;
    transition: .2s all ease-in-out;
    padding: 10px;
    margin: 10px;
    color: rgb(180, 6, 23);
}

.btn-delete:hover {
    background-color: rgb(180, 6, 23);
    color: white;
}

.btn-upload {
    border: 1px solid rgb(36, 30, 68);
    border-radius: 12px;
    transition: .2s all ease-in-out;
    padding: 10px;
    margin: 10px;
    color: rgb(36, 30, 68);
}

.btn-upload:hover {
    background-color: rgb(36, 30, 68);
    color: white;
}